In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
foodconsumption_data = pd.read_csv('./2013_2014day1data.csv')
foodcode_data = pd.read_csv('./Foodcode_2013_2014.csv')

In [41]:
foodcode_data.columns

Index(['DRXFDCD', 'DRXFCSD', 'DRXFCLD'], dtype='object')

In [42]:
foodconsumption_data.columns

Index(['SEQN', 'WTDRD1', 'WTDR2D', 'DR1ILINE', 'DR1DRSTZ', 'DR1EXMER', 'DRABF',
       'DRDINT', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1CCMNM', 'DR1CCMTX',
       'DR1_020', 'DR1_030Z', 'DR1FS', 'DR1_040Z', 'DR1IFDCD', 'DR1IGRMS',
       'DR1IKCAL', 'DR1IPROT', 'DR1ICARB', 'DR1ISUGR', 'DR1IFIBE', 'DR1ITFAT',
       'DR1ISFAT', 'DR1IMFAT', 'DR1IPFAT', 'DR1ICHOL', 'DR1IATOC', 'DR1IATOA',
       'DR1IRET', 'DR1IVARA', 'DR1IACAR', 'DR1IBCAR', 'DR1ICRYP', 'DR1ILYCO',
       'DR1ILZ', 'DR1IVB1', 'DR1IVB2', 'DR1INIAC', 'DR1IVB6', 'DR1IFOLA',
       'DR1IFA', 'DR1IFF', 'DR1IFDFE', 'DR1ICHL', 'DR1IVB12', 'DR1IB12A',
       'DR1IVC', 'DR1IVD', 'DR1IVK', 'DR1ICALC', 'DR1IPHOS', 'DR1IMAGN',
       'DR1IIRON', 'DR1IZINC', 'DR1ICOPP', 'DR1ISODI', 'DR1IPOTA', 'DR1ISELE',
       'DR1ICAFF', 'DR1ITHEO', 'DR1IALCO', 'DR1IMOIS', 'DR1IS040', 'DR1IS060',
       'DR1IS080', 'DR1IS100', 'DR1IS120', 'DR1IS140', 'DR1IS160', 'DR1IS180',
       'DR1IM161', 'DR1IM181', 'DR1IM201', 'DR1IM221', 'DR1IP182', 'DR1IP183',
       'DR1IP184', 'DR1IP204', 'DR1IP205', 'DR1IP225', 'DR1IP226'],
      dtype='object')

In [21]:
foodconsumption = pd.DataFrame(foodconsumption_data)
foodconsumption.head()

,SEQN,WTDRD1,WTDR2D,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
0,73557.0,16888.327864,12930.890649,1.0,1,49,2,2,6,2,...,3.595,0.034,0.001,0.949,0.108,0.0,0.051,0.001,0.0,0.01
1,73557.0,16888.327864,12930.890649,2.0,1,49,2,2,6,2,...,0.000,0.000,0.000,0.004,0.000,0.0,0.000,0.000,0.0,0.00
2,73557.0,16888.327864,12930.890649,3.0,1,49,2,2,6,2,...,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.00
3,73557.0,16888.327864,12930.890649,4.0,1,49,2,2,6,2,...,0.081,0.000,0.000,0.103,0.031,0.0,0.000,0.000,0.0,0.00
4,73557.0,16888.327864,12930.890649,5.0,1,49,2,2,6,2,...,0.026,0.000,0.000,0.024,0.009,0.0,0.000,0.000,0.0,0.00

In [71]:
food_data_abridged = foodconsumption_data[["SEQN", "DR1IFDCD", "DR1IGRMS" ]]
food_data_abridged.head()

      SEQN  DR1IFDCD  DR1IGRMS
0  73557.0  32202075      84.0
1  73557.0  92101000     359.1
2  73557.0  91107000       2.0
3  73557.0  61210250     449.5
4  73557.0  61119010     131.0

In [76]:
food_data_abridged.columns = ['PersonID', 'FoodCode', 'GramsEaten']
food_data_abridged.head()

   PersonID  FoodCode  GramsEaten
0   73557.0  32202075        84.0
1   73557.0  92101000       359.1
2   73557.0  91107000         2.0
3   73557.0  61210250       449.5
4   73557.0  61119010       131.0

In [69]:
food_data_abridged.dtypes

Person ID      float64
Food Code        int64
Grams Eaten    float64
dtype: object

In [6]:
# trying to apply all four filters to the food diary data
def dairy_filter(item_code):
    result = False
    if ((10000000 <= item_code) and (item_code <= 19999999)) and (item_code not in range(11710000, 11740551)) :
        result = True
    return result

def beef_filter(item_code):
    result = False
    if ((21000100 <= item_code) and (item_code <= 21701020)) :
        result = True
    return result

def chicken_filter(item_code):
    result = False
    if ((24100000 <= item_code) and (item_code <= 24198840)) :
        result = True
    return result

def asparagus_filter(item_code):
    result = False
    if ((75202000 <= item_code) and (item_code <= 75202036)) :
        result = True
    return result

In [9]:
# food_data_abridged = food_data_abridged.DR1IFDCD.apply(asparagus_filter)(beef_filter)(chicken_filter)(dairy_filter)
# can't do this this way, need a more efficient approach

TypeError: 'Series' object is not callable

In [82]:
# consolidating the four different filters into one to apply to the data set

def four_food_filter(item_code):
    result = False
    if ((10000000 <= item_code) and (item_code <= 19999999)) and (item_code not in range(11710000, 11740551)) :
        result = True
    elif ((21000100 <= item_code) and (item_code <= 21701020)) :
        result = True
    elif ((24100000 <= item_code) and (item_code <= 24198840)) :
        result = True
    elif ((75202000 <= item_code) and (item_code <= 75202036)) :
        result = True
    return result

# food_data_filter = food_data_abridged.groupby('Food Code').apply(four_food_filter)
food_data_filter = food_data_abridged.FoodCode.apply(four_food_filter)
food_data_filtered = food_data_abridged[food_data_filter]
food_data_filtered.head()

# doesn't work; get a Value Error: the truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

    PersonID  FoodCode  GramsEaten
12   73558.0  11111000       152.5
17   73558.0  11111000       366.0
21   73559.0  11113000       183.0
40   73559.0  14201010       210.0
47   73560.0  11113000       244.0

In [74]:
# low_limit = pd.Series([90, 50, 95, 11, 140, 35], index=df.columns)
# high_limit = pd.Series([160, 101, 100, 19, 160, 39], index=df.columns)
# mask = ((df < high_limit) & (df > low_limit)).all(axis=1)
# df[mask]  to slice

low_limit = pd.Series([10000000, 11740551, 21000100, 24100000, 75202000])
high_limit = pd.Series([11710000, 19999999, 21701020, 24198840, 75202036])
mask = ((food_data_abridged < high_limit) & (food_data_abridged > low_limit)).all

# doesn't do what I want

/Users/miche/anaconda/lib/python3.5/site-packages/pandas/indexes/base.py:2482: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

In [ ]:
food_data_abridged[(food_data_abridged.DR1IFDCD >=)]

In [43]:
def dairy_filter(item_code):
    result = False
    if ((10000000 <= item_code) and (item_code <= 19999999)) and (item_code not in range(11710000, 11740551)) :
        result = True
    return result

index_of_values_we_want = foodcode_data.DRXFDCD.apply(dairy_filter)
dairy_data = foodcode_data[index_of_values_we_want]

dfd = dairy_data.DRXFDCD.astype(int)
dfd = dfd.to_frame()
dfd.columns = ['Foodcode']
dfd

     Foodcode
0    11000000
1    11100000
2    11111000
3    11111100
4    11111150
5    11111160
6    11111170
7    11112110
8    11112120
9    11112130
10   11112210
11   11113000
12   11114300
13   11114320
14   11114330
15   11114350
16   11115000
17   11115100
18   11115200
19   11115300
20   11115400
21   11116000
22   11120000
23   11121100
24   11121210
25   11121300
26   11210050
27   11211050
28   11211400
29   11212050
..        ...
709  14420160
710  14420200
711  14420210
712  14420300
713  14502000
714  14610200
715  14610210
716  14610250
717  14610520
718  14620100
719  14620120
720  14620150
721  14620200
722  14620300
723  14620310
724  14620320
725  14620330
726  14630100
727  14630200
728  14630300
729  14640000
730  14640100
731  14640200
732  14650100
733  14650150
734  14650160
735  14660200
736  14670000
737  14710100
738  14710200

[501 rows x 1 columns]

In [46]:
beef_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(21000100, 21701020, inclusive = True)].astype(int)

dfb = beef_data.to_frame()
dfb.columns = ['Foodcode']
dfb

     Foodcode
743  21000100
744  21000110
745  21000120
746  21001000
747  21001010
748  21001020
749  21002000
750  21003000
751  21101000
752  21101010
753  21101020
754  21101110
755  21101120
756  21101130
757  21102110
758  21102120
759  21102130
760  21103110
761  21103120
762  21103130
763  21104110
764  21104120
765  21104130
766  21105110
767  21105120
768  21105130
769  21301000
770  21302000
771  21304000
772  21304110
..        ...
785  21410000
786  21410110
787  21410120
788  21416000
789  21416110
790  21416120
791  21416150
792  21417100
793  21417110
794  21417120
795  21420100
796  21500000
797  21500100
798  21500200
799  21500300
800  21501000
801  21501200
802  21501300
803  21501350
804  21501360
805  21540100
806  21601000
807  21601010
808  21602000
809  21602010
810  21602100
811  21603000
812  21701000
813  21701010
814  21701020

[72 rows x 1 columns]

In [47]:
chicken_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(24100000, 24198840, inclusive = True)].astype(int)

dfc = chicken_data.to_frame()
dfc.columns = ['Foodcode']
dfc

      Foodcode
1010  24100000
1011  24100010
1012  24100020
1013  24102000
1014  24102010
1015  24102020
1016  24103000
1017  24103010
1018  24103020
1019  24104000
1020  24104001
1021  24104010
1022  24104011
1023  24104020
1024  24104021
1025  24107000
1026  24107001
1027  24107010
1028  24107011
1029  24107020
1030  24107021
1031  24107040
1032  24107041
1033  24107050
1034  24107051
1035  24107060
1036  24107061
1037  24120100
1038  24120110
1039  24120120
...        ...
1252  24167111
1253  24167112
1254  24167113
1255  24167114
1256  24167115
1257  24167119
1258  24167120
1259  24167121
1260  24167122
1261  24167123
1262  24167124
1263  24167125
1264  24167130
1265  24167135
1266  24170200
1267  24180200
1268  24198340
1269  24198440
1270  24198500
1271  24198570
1272  24198670
1273  24198690
1274  24198695
1275  24198700
1276  24198710
1277  24198720
1278  24198730
1279  24198735
1280  24198740
1281  24198840

[272 rows x 1 columns]

In [48]:
asparagus_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(75202000, 75202036, inclusive = True)].astype(int)

dfa = asparagus_data.to_frame()
dfa.columns = ['Foodcode']
dfa

      Foodcode
6637  75202000
6638  75202001
6639  75202002
6640  75202003
6641  75202010
6642  75202011
6643  75202012
6644  75202013
6645  75202020
6646  75202021
6647  75202022
6648  75202023
6649  75202024
6650  75202025
6651  75202026
6652  75202027
6653  75202028
6654  75202029
6655  75202031
6656  75202032
6657  75202033
6658  75202034
6659  75202035
6660  75202036

In [49]:
totfoodcodes = pd.concat([dfd, dfb, dfc, dfa], ignore_index = True)
totfoodcodes

     Foodcode
0    11000000
1    11100000
2    11111000
3    11111100
4    11111150
5    11111160
6    11111170
7    11112110
8    11112120
9    11112130
10   11112210
11   11113000
12   11114300
13   11114320
14   11114330
15   11114350
16   11115000
17   11115100
18   11115200
19   11115300
20   11115400
21   11116000
22   11120000
23   11121100
24   11121210
25   11121300
26   11210050
27   11211050
28   11211400
29   11212050
..        ...
839  24198710
840  24198720
841  24198730
842  24198735
843  24198740
844  24198840
845  75202000
846  75202001
847  75202002
848  75202003
849  75202010
850  75202011
851  75202012
852  75202013
853  75202020
854  75202021
855  75202022
856  75202023
857  75202024
858  75202025
859  75202026
860  75202027
861  75202028
862  75202029
863  75202031
864  75202032
865  75202033
866  75202034
867  75202035
868  75202036

[869 rows x 1 columns]

In [53]:
x = food_data_abridged.groupby('Food Code') != totfoodcodes

AttributeError: Cannot access callable attribute 'isin' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [54]:
def foodcode_filter(item_code):
    result = False
    if item in item_code :
        result = True
    return result

x = foodconsumption_data.DR1IFDCD.apply(totfoodcodes)

TypeError: 'DataFrame' object is not callable