Sanity Checks for Food Code Data

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
foodcode_data = pd.read_csv('./Foodcode_2013_2014.csv')

In [11]:
foodcode_data.columns

Index(['DRXFDCD', 'DRXFCSD', 'DRXFCLD'], dtype='object')

In [12]:
foodcode_data.DRXFDCD.count()

8600

In [66]:
dairy_data = foodcode_data.DRXFDCD.between(10000000, 19999999, inclusive = True)
dairy_data.head()
# this doesn't work, not pulling back the correct data

0    True
1    True
2    True
3    True
4    True
Name: DRXFDCD, dtype: bool

In [67]:
dairy_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(10000000, 19999999, inclusive = True)].astype(int)
dairy_data.head() 
# this pulls back the correct values

0    11000000
1    11100000
2    11111000
3    11111100
4    11111150
Name: DRXFDCD, dtype: int64

In [15]:
dairy_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(10000000, 19999999, inclusive = True)]
dairy_data.count() 
# this count is correct

739

In [16]:
# doesn't work
dairy_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(10000000, 19999999, inclusive = True) & foodcode_data.DRXFDCD != (11710000, 11740551, inclusive = True)]

SyntaxError: invalid syntax (<ipython-input-16-0e21e6e07523>, line 2)

In [99]:
def dairy_filter(item_code):
    result = False
    if ((10000000 <= item_code) and (item_code <= 19999999)) and (item_code not in range(11710000, 11740551)) :
        result = True
    return result

index_of_values_we_want = foodcode_data.DRXFDCD.apply(dairy_filter)
dairy_data = foodcode_data[index_of_values_we_want]

# print(len(dairy_data))
# dairy_data.head()
# dairy_data.count()
# dairy_data.columns()
dfd = dairy_data.DRXFDCD.astype(int)
dfd = dfd.to_frame()
dfd.columns = ['Foodcode']
dfd

     Foodcode
0    11000000
1    11100000
2    11111000
3    11111100
4    11111150
5    11111160
6    11111170
7    11112110
8    11112120
9    11112130
10   11112210
11   11113000
12   11114300
13   11114320
14   11114330
15   11114350
16   11115000
17   11115100
18   11115200
19   11115300
20   11115400
21   11116000
22   11120000
23   11121100
24   11121210
25   11121300
26   11210050
27   11211050
28   11211400
29   11212050
..        ...
709  14420160
710  14420200
711  14420210
712  14420300
713  14502000
714  14610200
715  14610210
716  14610250
717  14610520
718  14620100
719  14620120
720  14620150
721  14620200
722  14620300
723  14620310
724  14620320
725  14620330
726  14630100
727  14630200
728  14630300
729  14640000
730  14640100
731  14640200
732  14650100
733  14650150
734  14650160
735  14660200
736  14670000
737  14710100
738  14710200

[501 rows x 1 columns]

In [68]:
beef_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(21000100, 21701020, inclusive = True)].astype(int)
# print(len(beef_data))
beef_data.head() 
# this is correct

743    21000100
744    21000110
745    21000120
746    21001000
747    21001010
Name: DRXFDCD, dtype: int64

In [19]:
beef_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(21000100, 21701020, inclusive = True)]
beef_data.count()
# this is correct

72

In [69]:
chicken_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(24100000, 24198840, inclusive = True)].astype(int)
chicken_data.head() 
# this is correct

1010    24100000
1011    24100010
1012    24100020
1013    24102000
1014    24102010
Name: DRXFDCD, dtype: int64

In [21]:
chicken_data.count()

272

In [73]:
asparagus_data = foodcode_data.DRXFDCD[foodcode_data.DRXFDCD.between(75202000, 75202036, inclusive = True)].astype(int)
# asparagus_data.head() 
asparagus_data.count()
# this is correct

24

In [92]:
dfa = asparagus_data.to_frame()
dfa.columns = ['Foodcode']
dfa

      Foodcode
6637  75202000
6638  75202001
6639  75202002
6640  75202003
6641  75202010
6642  75202011
6643  75202012
6644  75202013
6645  75202020
6646  75202021
6647  75202022
6648  75202023
6649  75202024
6650  75202025
6651  75202026
6652  75202027
6653  75202028
6654  75202029
6655  75202031
6656  75202032
6657  75202033
6658  75202034
6659  75202035
6660  75202036

In [53]:
dfa.columns = ['Foodcode']
list(dfa.columns)

['Foodcode']

In [91]:
dfc = chicken_data.to_frame()
dfc.columns = ['Foodcode']
dfc

      Foodcode
1010  24100000
1011  24100010
1012  24100020
1013  24102000
1014  24102010
1015  24102020
1016  24103000
1017  24103010
1018  24103020
1019  24104000
1020  24104001
1021  24104010
1022  24104011
1023  24104020
1024  24104021
1025  24107000
1026  24107001
1027  24107010
1028  24107011
1029  24107020
1030  24107021
1031  24107040
1032  24107041
1033  24107050
1034  24107051
1035  24107060
1036  24107061
1037  24120100
1038  24120110
1039  24120120
...        ...
1252  24167111
1253  24167112
1254  24167113
1255  24167114
1256  24167115
1257  24167119
1258  24167120
1259  24167121
1260  24167122
1261  24167123
1262  24167124
1263  24167125
1264  24167130
1265  24167135
1266  24170200
1267  24180200
1268  24198340
1269  24198440
1270  24198500
1271  24198570
1272  24198670
1273  24198690
1274  24198695
1275  24198700
1276  24198710
1277  24198720
1278  24198730
1279  24198735
1280  24198740
1281  24198840

[272 rows x 1 columns]

In [54]:
dfc.columns = ['Foodcode']
list(dfc.columns)

['Foodcode']

In [90]:
dfb = beef_data.to_frame()
dfb.columns = ['Foodcode']
dfb

     Foodcode
743  21000100
744  21000110
745  21000120
746  21001000
747  21001010
748  21001020
749  21002000
750  21003000
751  21101000
752  21101010
753  21101020
754  21101110
755  21101120
756  21101130
757  21102110
758  21102120
759  21102130
760  21103110
761  21103120
762  21103130
763  21104110
764  21104120
765  21104130
766  21105110
767  21105120
768  21105130
769  21301000
770  21302000
771  21304000
772  21304110
..        ...
785  21410000
786  21410110
787  21410120
788  21416000
789  21416110
790  21416120
791  21416150
792  21417100
793  21417110
794  21417120
795  21420100
796  21500000
797  21500100
798  21500200
799  21500300
800  21501000
801  21501200
802  21501300
803  21501350
804  21501360
805  21540100
806  21601000
807  21601010
808  21602000
809  21602010
810  21602100
811  21603000
812  21701000
813  21701010
814  21701020

[72 rows x 1 columns]

In [55]:
dfb.columns = ['Foodcode']
list(dfb.columns)

['Foodcode']

In [100]:
df1 = pd.concat([dfd, dfb, dfc, dfa], ignore_index = True)
df1

     Foodcode
0    11000000
1    11100000
2    11111000
3    11111100
4    11111150
5    11111160
6    11111170
7    11112110
8    11112120
9    11112130
10   11112210
11   11113000
12   11114300
13   11114320
14   11114330
15   11114350
16   11115000
17   11115100
18   11115200
19   11115300
20   11115400
21   11116000
22   11120000
23   11121100
24   11121210
25   11121300
26   11210050
27   11211050
28   11211400
29   11212050
..        ...
839  24198710
840  24198720
841  24198730
842  24198735
843  24198740
844  24198840
845  75202000
846  75202001
847  75202002
848  75202003
849  75202010
850  75202011
851  75202012
852  75202013
853  75202020
854  75202021
855  75202022
856  75202023
857  75202024
858  75202025
859  75202026
860  75202027
861  75202028
862  75202029
863  75202031
864  75202032
865  75202033
866  75202034
867  75202035
868  75202036

[869 rows x 1 columns]